<div class="wrapper wrapper_padding">
	<%= link_to root_path, :class => "icon" do %>
		<i class="fa fa-home" aria-hidden="true"><span> Home <span></i>
	<% end %>
	<%= link_to "New movie", new_movie_path, class: "btn" %>
	<ul>	
		<% @movies.each do |movie| %>
			<li>
				<%= link_to movie.tittle, movie %>
			</li>
		<% end %>		
	</ul>
</div>