<div class="wrapper wrapper_padding">
	<%= link_to root_path, :class => "icon" do %>
		<i class="fa fa-home" aria-hidden="true"><span> Home <span></i>
	<% end %>
	<%= link_to "Admin", new_admin_path, class: "btn" %>
	<% @admins.each do |admin| %>
		<%= link_to "#{admin.first_name} #{admin.last_name}", admin_path(admin) %>
	<% end %>
</div>
