<div class="wrapper wrapper_padding">
	<%= link_to root_path, :class => "icon" do %>
		<i class="fa fa-home" aria-hidden="true"><span> Home <span></i>
	<% end %>
	<section class="unavailable">
		<p>
			Sorry, this section of the site is currently unavailable, please try again later...
		</p>
	</section>
</div>
