.unavailable {
	width: 50%;
	margin: 5em auto;
	text-align: center; 
	p {
		font-size: 1.5em;
		font-weight: 400;
		color: #000000;
		display: block;
		text-align: center;
		margin: 0;
		padding: 0;
	}
}