<footer id="primary-footer" class="clearfix">
	<p class="copyright">&copy; Copyright 2016 Mullenga Chiwelle &#124; One.ation </p>
	<nav>
		<%= link_to new_message_path, :class => "fine" do %><i class="fa fa-envelope-o" aria-hidden="true" target="_blank"></i><% end %>
		<a href="http://twitter.com/mulleone" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://www.linkedin.com/in/mulleone" target="_blank"><i class="fa fa-linkedin"></i></a>
		<a href="http://github.com/mulleone" target="_blank"><i class="fa fa-github"></i></a>
  		<a href="http://quora.com/mulleone" target="_blank"><div class="quora-color fa fa-quora" id="quora">Quora</div></a>
	</nav>
</footer>
	